meta(charset="utf-8")
title Details
meta(name="description", content="Bootstrap.")
link(href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
link(rel="stylesheet", href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css")
script(type="text/javascript", src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js")
script(type="text/javascript", src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
link.css(rel="stylesheet", href="/css/Components/table.css")
script(src="/js/table/table.js") 
.container
  .row.header
    p #{heading}
  table#myTable.table.table-striped.table-bordered.table-responsive.table-hover
    thead
      tr
        th No.
        for val of headName
          th #{val}
        th Action
    tbody
      -var num=1
      for val of appointments 
        tr
          td #{num++}
          for n in val
            td
              p #{n}
          td 
            button(type="button" class=buttonClass) #{buttonName}
            //- "pat-list"
script.
  
  $(document).ready(function(){
      $('#myTable').dataTable();
  });
  