title #{title}
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1,shrink-to-fit=no")
link(href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,700", rel="stylesheet", type="text/css")
link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="/css/components/form.css")
script(src="/js/Utils/requestor.js")
script(src="/js/Utils/generateId.js") 
script(src="/js/receptionist/bookAppointment.js")

.container
  form#appointmentForm(method="post")
    .row  
      .input-group
        input#warden.req(type="radio", name="role", value="warden" disabled)
        label(for="warden") Warden
        input#receptionist.req(type="radio", name="role", value="receptionist" disabled)
        label(for="receptionist") Receptionist
    h3 DETAILS
    hr(color="#bdbdbd")
    .row
        .col-half
            h4 Patient Id
            .input-group.input-group-icon
                input#pid.distext.req(type="text", value=patientId name="pid" disabled )
                .input-icon
                    i.fa.fa-user
        .col-half 
            h4 Patient Name 
            .input-group.input-group-icon
                input#name.distext.req(type="text", value=patientName name="name" disabled )
                .input-icon
                    i.fa.fa-user
    .row 
      .col-half
        h4 Symptoms <span style="color:red">&ensp;*</span>
        .input-group
          select#symptoms.req( required)
            each val, index in ['Symptoms1', 'Symptoms2', 'Symptoms3','Symptoms4','Symptoms5']
              option #{val}
      .col-half 
        h4 Description 
        .input-group 
          input#description.req(type="text" name="desc" placeholder="Enter the note")
      .col-half 
        h4 
    h3 TIMINGS
    hr(size, color="#bdbdbd") 
    .row
      .col-third
        h4 Date<span style="color:red">&ensp;*</span>
        .input-group
          input#apntDate.req(type="date" name="apntDate" required)
      .col-fourth
        .input-group
      .col-third
        h4 Time<span style="color:red">&ensp;*</span>
        .input-group
          select#apntTime.req(required)
    h3 DOCTOR DETAILS
    hr(size, color="#bdbdbd")
    .row
      .col-half
        h4 Department name  <span style="color:red">&ensp;*</span>
        .input-group
          select#department.req(required)
            each val, index in ["Select Department",'Hospital', 'Department2', 'Department3','Department4','Department5']
              option #{val}
               
      .col-half
        h4 Doctor name<span style="color:red">&ensp;*</span>
        .input-group
          select#doctorName.req(required)
            
             
    h3 TERMS
    hr(size, color="#bdbdbd")
    .row
      br
      h4 Terms and Conditions
      .input-group
        input#terms(type="checkbox")
        label#term(for="terms") 
    .row.button
      .col-half
        input#button.req(type="submit", value="submit")
    .row
